.settings/org.eclipse.core.resources.prefs
.actionScriptProperties
.project
bin-debug/GOW_ENGINE.swf
bin-debug/GOW_ENGINE-app.xml
bin-debug/GOW_ENGINE-app.xml
bin-debug/GOW_ENGINE.swf
src/GOW_ENGINE-app.xml
src/GOW_ENGINE-app.xml
src/GOW_ENGINE-app.xml